Initial run to test proteomics data with LDA
=============================================

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

from IPython.display import display, HTML
import numpy as np
import pandas as pd
import re

import os
import sys
basedir = '..'
sys.path.append(basedir)

from multifile_feature import FeatureExtractor, SparseFeatureExtractor

# living dangerously by suppressing all annoying warning messages
import warnings
warnings.filterwarnings('ignore')

<h2>1. Parse MGF</h2>

We need to parse the .MGF file and turn it into the count matrix

In [2]:
def parse_mgf(filename, debug=False):
    ms1_peakids = []
    ms1_peakdata = []
    ms2_peakids = []
    ms2_peakdata = []
    with open(filename, "r") as ins:

        pep_mass = None
        pep_rt = None
        pep_charge = np.nan
        fragments = []
        peak_id = 1
        for line in ins:

            line = line.strip()
            if not line:
                continue # skip empty line

            # split by ' ' or '='
            tokens = re.split(' |=', line)
            tok = tokens[0].upper()

            if tok == 'BEGIN':
                continue
            elif tok == 'TITLE':
                continue
            elif tok == 'RTINSECONDS':
                pep_rt = float(tokens[1])
                ms1_id = peak_id
                peak_id += 1            
            elif tok == 'PEPMASS':
                pep_mass = float(tokens[1])
            elif tok == 'CHARGE':
                pep_charge = tokens[1]
            elif tok == 'END':

                if debug:
                    print ms1_id, pep_mass, pep_rt, pep_charge
                ms1_peakdata.append((ms1_id, np.nan, 1, pep_mass, pep_rt, 0, pep_charge))
                ms1_peakids.append(ms1_id)

                for ms2_id, ms2_mass, ms2_intensity in fragments:
                    if debug:
                        print '- %d %f %f' % (ms2_id, ms2_mass, ms2_intensity)
                    ms2_peakdata.append((ms2_id, ms1_id, 2, ms2_mass, 0, ms2_intensity, np.nan))
                    ms2_peakids.append(ms2_id)
                if debug: 
                    print

                # reset for the next line
                pep_mass = None
                pep_rt = None
                pep_charge = np.nan
                fragments = []

            else: # read the fragments
                ms2_mass = float(tok)
                ms2_intensity = float(tokens[1])
                fragments.append((peak_id, ms2_mass, ms2_intensity))
                peak_id += 1

    ms1 = pd.DataFrame(ms1_peakdata, index=ms1_peakids, 
                       columns=['peakID', 'MSnParentPeakID', 'msLevel', 'mz', 'rt', 'intensity', 'charge'])
    ms2 = pd.DataFrame(ms2_peakdata, index=ms2_peakids, 
                       columns=['peakID', 'MSnParentPeakID', 'msLevel', 'mz', 'rt', 'intensity', 'charge'])

    return ms1, ms2

In [3]:
# filename = 'iPRG2012_small.mgf'
filename = 'iPRG2012.mgf'
ms1, ms2 = parse_mgf(filename)

In [4]:
display(ms1.head(10))
print ms1.shape

     peakID  MSnParentPeakID  msLevel           mz       rt  intensity charge
1         1              NaN        1   986.222592    1.850          0    NaN
6         6              NaN        1  1117.290047    2.350          0    NaN
10       10              NaN        1   951.174259  114.576          0     2+
60       60              NaN        1   685.120003  115.109          0     2+
97       97              NaN        1   818.148264  115.209          0     2+
141     141              NaN        1   943.186120  115.309          0    NaN
162     162              NaN        1  1076.713199  115.409          0     2+
184     184              NaN        1  1084.202678  115.559          0     2+
228     228              NaN        1  1198.258640  115.709          0     2+
268     268              NaN        1  1209.246774  115.859          0    NaN

(17993, 7)

In [5]:
display(ms2.head(10))
print ms2.shape

    peakID  MSnParentPeakID  msLevel           mz  rt  intensity  charge
2        2                1        2   986.331999   0  69.148811     NaN
3        3                1        2   989.626160   0  72.000984     NaN
4        4                1        2   989.716248   0  61.076389     NaN
5        5                1        2   989.794898   0  94.243019     NaN
7        7                6        2  1114.994507   0  69.292564     NaN
8        8                6        2  1117.045898   0  61.075764     NaN
9        9                6        2  1118.765479   0  62.225277     NaN
11      11               10        2   159.020981   0   9.268942     NaN
12      12               10        2   213.025406   0  12.000000     NaN
13      13               10        2   213.038666   0  11.268942     NaN

(682091, 7)

<h2>2. Feature Extraction</h2>

In [6]:
input_set = [(ms1, ms2)]
fragment_grouping_tol = 7
loss_grouping_tol = 15
loss_threshold_min_count = 15
loss_threshold_max_val = 200
scaling_factor = 1000

In [7]:
extractor = SparseFeatureExtractor(input_set, fragment_grouping_tol, loss_grouping_tol, 
                                      loss_threshold_min_count, loss_threshold_max_val,
                                     input_type='dataframe')

Loading MS1 dataframe 17993 X 7
Loading MS2 dataframe 682091 X 7

In [8]:
fragment_q = extractor.make_fragment_queue()
fragment_groups = extractor.group_features(fragment_q, extractor.fragment_grouping_tol)

Processing fragments for file 0
Total groups=43054

In [9]:
loss_q = extractor.make_loss_queue()
loss_groups = extractor.group_features(loss_q, extractor.loss_grouping_tol, 
                                       check_threshold=True)

Processing losses for file 0
Total groups=1907

In [ ]:
extractor.create_counts(fragment_groups, loss_groups, scaling_factor)

43054 fragment words
1907 loss words
Initialising sparse matrix 0
Populating dataframes
Populating dataframe for fragment group 0/43054
Populating dataframe for fragment group 100/43054
Populating dataframe for fragment group 200/43054
Populating dataframe for fragment group 300/43054
Populating dataframe for fragment group 400/43054
Populating dataframe for fragment group 500/43054
Populating dataframe for fragment group 600/43054
Populating dataframe for fragment group 700/43054
Populating dataframe for fragment group 800/43054
Populating dataframe for fragment group 900/43054
Populating dataframe for fragment group 1000/43054
Populating dataframe for fragment group 1100/43054
Populating dataframe for fragment group 1200/43054
Populating dataframe for fragment group 1300/43054
Populating dataframe for fragment group 1400/43054
Populating dataframe for fragment group 1500/43054
Populating dataframe for fragment group 1600/43054
Populating dataframe for fragment group 1700/43054
Populating dataframe for fragment group 1800/43054
Populating dataframe for fragment group 1900/43054
Populating dataframe for fragment group 2000/43054
Populating dataframe for fragment group 2100/43054
Populating dataframe for fragment group 2200/43054
Populating dataframe for fragment group 2300/43054
Populating dataframe for fragment group 2400/43054
Populating dataframe for fragment group 2500/43054
Populating dataframe for fragment group 2600/43054
Populating dataframe for fragment group 2700/43054
Populating dataframe for fragment group 2800/43054
Populating dataframe for fragment group 2900/43054
Populating dataframe for fragment group 3000/43054
Populating dataframe for fragment group 3100/43054
Populating dataframe for fragment group 3200/43054
Populating dataframe for fragment group 3300/43054
Populating dataframe for fragment group 3400/43054
Populating dataframe for fragment group 3500/43054
Populating dataframe for fragment group 3600/43054
Populating dataframe for fragment group 3700/43054
Populating dataframe for fragment group 3800/43054
Populating dataframe for fragment group 3900/43054
Populating dataframe for fragment group 4000/43054
Populating dataframe for fragment group 4100/43054
Populating dataframe for fragment group 4200/43054
Populating dataframe for fragment group 4300/43054
Populating dataframe for fragment group 4400/43054
Populating dataframe for fragment group 4500/43054
Populating dataframe for fragment group 4600/43054
Populating dataframe for fragment group 4700/43054
Populating dataframe for fragment group 4800/43054
Populating dataframe for fragment group 4900/43054
Populating dataframe for fragment group 5000/43054
Populating dataframe for fragment group 5100/43054
Populating dataframe for fragment group 5200/43054
Populating dataframe for fragment group 5300/43054
Populating dataframe for fragment group 5400/43054
Populating dataframe for fragment group 5500/43054
Populating dataframe for fragment group 5600/43054
Populating dataframe for fragment group 5700/43054
Populating dataframe for fragment group 5800/43054
Populating dataframe for fragment group 5900/43054
Populating dataframe for fragment group 6000/43054
Populating dataframe for fragment group 6100/43054
Populating dataframe for fragment group 6200/43054
Populating dataframe for fragment group 6300/43054
Populating dataframe for fragment group 6400/43054
Populating dataframe for fragment group 6500/43054
Populating dataframe for fragment group 6600/43054
Populating dataframe for fragment group 6700/43054
Populating dataframe for fragment group 6800/43054
Populating dataframe for fragment group 6900/43054
Populating dataframe for fragment group 7000/43054
Populating dataframe for fragment group 7100/43054
Populating dataframe for fragment group 7200/43054
Populating dataframe for fragment group 7300/43054
Populating dataframe for fragment group 7400/43054
Populating dataframe for fragment group 7500/43054
Populating dataframe for fragment group 7600/43054
Populating dataframe for fragment group 7700/43054
Populating dataframe for fragment group 7800/43054
Populating dataframe for fragment group 7900/43054
Populating dataframe for fragment group 8000/43054
Populating dataframe for fragment group 8100/43054
Populating dataframe for fragment group 8200/43054
Populating dataframe for fragment group 8300/43054
Populating dataframe for fragment group 8400/43054
Populating dataframe for fragment group 8500/43054
Populating dataframe for fragment group 8600/43054
Populating dataframe for fragment group 8700/43054
Populating dataframe for fragment group 8800/43054
Populating dataframe for fragment group 8900/43054
Populating dataframe for fragment group 9000/43054
Populating dataframe for fragment group 9100/43054
Populating dataframe for fragment group 9200/43054
Populating dataframe for fragment group 9300/43054
Populating dataframe for fragment group 9400/43054
Populating dataframe for fragment group 9500/43054
Populating dataframe for fragment group 9600/43054
Populating dataframe for fragment group 9700/43054
Populating dataframe for fragment group 9800/43054
Populating dataframe for fragment group 9900/43054
Populating dataframe for fragment group 10000/43054
Populating dataframe for fragment group 10100/43054
Populating dataframe for fragment group 10200/43054
Populating dataframe for fragment group 10300/43054
Populating dataframe for fragment group 10400/43054
Populating dataframe for fragment group 10500/43054
Populating dataframe for fragment group 10600/43054
Populating dataframe for fragment group 10700/43054
Populating dataframe for fragment group 10800/43054
Populating dataframe for fragment group 10900/43054
Populating dataframe for fragment group 11000/43054
Populating dataframe for fragment group 11100/43054
Populating dataframe for fragment group 11200/43054
Populating dataframe for fragment group 11300/43054
Populating dataframe for fragment group 11400/43054
Populating dataframe for fragment group 11500/43054
Populating dataframe for fragment group 11600/43054
Populating dataframe for fragment group 11700/43054
Populating dataframe for fragment group 11800/43054
Populating dataframe for fragment group 11900/43054
Populating dataframe for fragment group 12000/43054
Populating dataframe for fragment group 12100/43054
Populating dataframe for fragment group 12200/43054
Populating dataframe for fragment group 12300/43054
Populating dataframe for fragment group 12400/43054
Populating dataframe for fragment group 12500/43054
Populating dataframe for fragment group 12600/43054
Populating dataframe for fragment group 12700/43054
Populating dataframe for fragment group 12800/43054
Populating dataframe for fragment group 12900/43054
Populating dataframe for fragment group 13000/43054
Populating dataframe for fragment group 13100/43054
Populating dataframe for fragment group 13200/43054
Populating dataframe for fragment group 13300/43054
Populating dataframe for fragment group 13400/43054
Populating dataframe for fragment group 13500/43054
Populating dataframe for fragment group 13600/43054
Populating dataframe for fragment group 13700/43054
Populating dataframe for fragment group 13800/43054
Populating dataframe for fragment group 13900/43054
Populating dataframe for fragment group 14000/43054
Populating dataframe for fragment group 14100/43054
Populating dataframe for fragment group 14200/43054
Populating dataframe for fragment group 14300/43054
Populating dataframe for fragment group 14400/43054
Populating dataframe for fragment group 14500/43054
Populating dataframe for fragment group 14600/43054
Populating dataframe for fragment group 14700/43054
Populating dataframe for fragment group 14800/43054
Populating dataframe for fragment group 14900/43054
Populating dataframe for fragment group 15000/43054
Populating dataframe for fragment group 15100/43054
Populating dataframe for fragment group 15200/43054
Populating dataframe for fragment group 15300/43054
Populating dataframe for fragment group 15400/43054
Populating dataframe for fragment group 15500/43054
Populating dataframe for fragment group 15600/43054
Populating dataframe for fragment group 15700/43054
Populating dataframe for fragment group 15800/43054
Populating dataframe for fragment group 15900/43054
Populating dataframe for fragment group 16000/43054
Populating dataframe for fragment group 16100/43054
Populating dataframe for fragment group 16200/43054
Populating dataframe for fragment group 16300/43054
Populating dataframe for fragment group 16400/43054
Populating dataframe for fragment group 16500/43054
Populating dataframe for fragment group 16600/43054
Populating dataframe for fragment group 16700/43054
Populating dataframe for fragment group 16800/43054
Populating dataframe for fragment group 16900/43054
Populating dataframe for fragment group 17000/43054
Populating dataframe for fragment group 17100/43054
Populating dataframe for fragment group 17200/43054
Populating dataframe for fragment group 17300/43054
Populating dataframe for fragment group 17400/43054
Populating dataframe for fragment group 17500/43054
Populating dataframe for fragment group 17600/43054
Populating dataframe for fragment group 17700/43054
Populating dataframe for fragment group 17800/43054
Populating dataframe for fragment group 17900/43054
Populating dataframe for fragment group 18000/43054
Populating dataframe for fragment group 18100/43054
Populating dataframe for fragment group 18200/43054
Populating dataframe for fragment group 18300/43054
Populating dataframe for fragment group 18400/43054
Populating dataframe for fragment group 18500/43054
Populating dataframe for fragment group 18600/43054
Populating dataframe for fragment group 18700/43054
Populating dataframe for fragment group 18800/43054
Populating dataframe for fragment group 18900/43054
Populating dataframe for fragment group 19000/43054
Populating dataframe for fragment group 19100/43054
Populating dataframe for fragment group 19200/43054
Populating dataframe for fragment group 19300/43054
Populating dataframe for fragment group 19400/43054
Populating dataframe for fragment group 19500/43054
Populating dataframe for fragment group 19600/43054
Populating dataframe for fragment group 19700/43054
Populating dataframe for fragment group 19800/43054
Populating dataframe for fragment group 19900/43054
Populating dataframe for fragment group 20000/43054
Populating dataframe for fragment group 20100/43054
Populating dataframe for fragment group 20200/43054
Populating dataframe for fragment group 20300/43054
Populating dataframe for fragment group 20400/43054
Populating dataframe for fragment group 20500/43054
Populating dataframe for fragment group 20600/43054
Populating dataframe for fragment group 20700/43054
Populating dataframe for fragment group 20800/43054
Populating dataframe for fragment group 20900/43054
Populating dataframe for fragment group 21000/43054
Populating dataframe for fragment group 21100/43054
Populating dataframe for fragment group 21200/43054
Populating dataframe for fragment group 21300/43054
Populating dataframe for fragment group 21400/43054
Populating dataframe for fragment group 21500/43054
Populating dataframe for fragment group 21600/43054
Populating dataframe for fragment group 21700/43054
Populating dataframe for fragment group 21800/43054
Populating dataframe for fragment group 21900/43054
Populating dataframe for fragment group 22000/43054
Populating dataframe for fragment group 22100/43054
Populating dataframe for fragment group 22200/43054
Populating dataframe for fragment group 22300/43054
Populating dataframe for fragment group 22400/43054
Populating dataframe for fragment group 22500/43054
Populating dataframe for fragment group 22600/43054
Populating dataframe for fragment group 22700/43054
Populating dataframe for fragment group 22800/43054
Populating dataframe for fragment group 22900/43054
Populating dataframe for fragment group 23000/43054
Populating dataframe for fragment group 23100/43054
Populating dataframe for fragment group 23200/43054
Populating dataframe for fragment group 23300/43054
Populating dataframe for fragment group 23400/43054
Populating dataframe for fragment group 23500/43054
Populating dataframe for fragment group 23600/43054
Populating dataframe for fragment group 23700/43054
Populating dataframe for fragment group 23800/43054
Populating dataframe for fragment group 23900/43054
Populating dataframe for fragment group 24000/43054
Populating dataframe for fragment group 24100/43054
Populating dataframe for fragment group 24200/43054
Populating dataframe for fragment group 24300/43054
Populating dataframe for fragment group 24400/43054
Populating dataframe for fragment group 24500/43054
Populating dataframe for fragment group 24600/43054
Populating dataframe for fragment group 24700/43054
Populating dataframe for fragment group 24800/43054
Populating dataframe for fragment group 24900/43054
Populating dataframe for fragment group 25000/43054
Populating dataframe for fragment group 25100/43054
Populating dataframe for fragment group 25200/43054
Populating dataframe for fragment group 25300/43054
Populating dataframe for fragment group 25400/43054
Populating dataframe for fragment group 25500/43054
Populating dataframe for fragment group 25600/43054
Populating dataframe for fragment group 25700/43054
Populating dataframe for fragment group 25800/43054
Populating dataframe for fragment group 25900/43054
Populating dataframe for fragment group 26000/43054
Populating dataframe for fragment group 26100/43054
Populating dataframe for fragment group 26200/43054
Populating dataframe for fragment group 26300/43054
Populating dataframe for fragment group 26400/43054
Populating dataframe for fragment group 26500/43054
Populating dataframe for fragment group 26600/43054
Populating dataframe for fragment group 26700/43054
Populating dataframe for fragment group 26800/43054
Populating dataframe for fragment group 26900/43054
Populating dataframe for fragment group 27000/43054
Populating dataframe for fragment group 27100/43054
Populating dataframe for fragment group 27200/43054
Populating dataframe for fragment group 27300/43054
Populating dataframe for fragment group 27400/43054
Populating dataframe for fragment group 27500/43054
Populating dataframe for fragment group 27600/43054
Populating dataframe for fragment group 27700/43054
Populating dataframe for fragment group 27800/43054
Populating dataframe for fragment group 27900/43054
Populating dataframe for fragment group 28000/43054
Populating dataframe for fragment group 28100/43054
Populating dataframe for fragment group 28200/43054
Populating dataframe for fragment group 28300/43054
Populating dataframe for fragment group 28400/43054
Populating dataframe for fragment group 28500/43054
Populating dataframe for fragment group 28600/43054
Populating dataframe for fragment group 28700/43054
Populating dataframe for fragment group 28800/43054
Populating dataframe for fragment group 28900/43054
Populating dataframe for fragment group 29000/43054
Populating dataframe for fragment group 29100/43054
Populating dataframe for fragment group 29200/43054
Populating dataframe for fragment group 29300/43054
Populating dataframe for fragment group 29400/43054
Populating dataframe for fragment group 29500/43054
Populating dataframe for fragment group 29600/43054
Populating dataframe for fragment group 29700/43054
Populating dataframe for fragment group 29800/43054
Populating dataframe for fragment group 29900/43054
Populating dataframe for fragment group 30000/43054
Populating dataframe for fragment group 30100/43054
Populating dataframe for fragment group 30200/43054
Populating dataframe for fragment group 30300/43054
Populating dataframe for fragment group 30400/43054
Populating dataframe for fragment group 30500/43054
Populating dataframe for fragment group 30600/43054
Populating dataframe for fragment group 30700/43054
Populating dataframe for fragment group 30800/43054
Populating dataframe for fragment group 30900/43054
Populating dataframe for fragment group 31000/43054
Populating dataframe for fragment group 31100/43054
Populating dataframe for fragment group 31200/43054
Populating dataframe for fragment group 31300/43054
Populating dataframe for fragment group 31400/43054
Populating dataframe for fragment group 31500/43054
Populating dataframe for fragment group 31600/43054
Populating dataframe for fragment group 31700/43054
Populating dataframe for fragment group 31800/43054
Populating dataframe for fragment group 31900/43054
Populating dataframe for fragment group 32000/43054
Populating dataframe for fragment group 32100/43054
Populating dataframe for fragment group 32200/43054
Populating dataframe for fragment group 32300/43054
Populating dataframe for fragment group 32400/43054
Populating dataframe for fragment group 32500/43054
Populating dataframe for fragment group 32600/43054
Populating dataframe for fragment group 32700/43054
Populating dataframe for fragment group 32800/43054
Populating dataframe for fragment group 32900/43054
Populating dataframe for fragment group 33000/43054
Populating dataframe for fragment group 33100/43054
Populating dataframe for fragment group 33200/43054
Populating dataframe for fragment group 33300/43054
Populating dataframe for fragment group 33400/43054
Populating dataframe for fragment group 33500/43054
Populating dataframe for fragment group 33600/43054
Populating dataframe for fragment group 33700/43054
Populating dataframe for fragment group 33800/43054
Populating dataframe for fragment group 33900/43054
Populating dataframe for fragment group 34000/43054
Populating dataframe for fragment group 34100/43054
Populating dataframe for fragment group 34200/43054
Populating dataframe for fragment group 34300/43054
Populating dataframe for fragment group 34400/43054
Populating dataframe for fragment group 34500/43054
Populating dataframe for fragment group 34600/43054
Populating dataframe for fragment group 34700/43054
Populating dataframe for fragment group 34800/43054
Populating dataframe for fragment group 34900/43054
Populating dataframe for fragment group 35000/43054
Populating dataframe for fragment group 35100/43054
Populating dataframe for fragment group 35200/43054
Populating dataframe for fragment group 35300/43054
Populating dataframe for fragment group 35400/43054
Populating dataframe for fragment group 35500/43054
Populating dataframe for fragment group 35600/43054
Populating dataframe for fragment group 35700/43054
Populating dataframe for fragment group 35800/43054
Populating dataframe for fragment group 35900/43054
Populating dataframe for fragment group 36000/43054
Populating dataframe for fragment group 36100/43054
Populating dataframe for fragment group 36200/43054
Populating dataframe for fragment group 36300/43054
Populating dataframe for fragment group 36400/43054
Populating dataframe for fragment group 36500/43054
Populating dataframe for fragment group 36600/43054
Populating dataframe for fragment group 36700/43054
Populating dataframe for fragment group 36800/43054
Populating dataframe for fragment group 36900/43054
Populating dataframe for fragment group 37000/43054
Populating dataframe for fragment group 37100/43054
Populating dataframe for fragment group 37200/43054
Populating dataframe for fragment group 37300/43054
Populating dataframe for fragment group 37400/43054
Populating dataframe for fragment group 37500/43054
Populating dataframe for fragment group 37600/43054
Populating dataframe for fragment group 37700/43054
Populating dataframe for fragment group 37800/43054
Populating dataframe for fragment group 37900/43054
Populating dataframe for fragment group 38000/43054
Populating dataframe for fragment group 38100/43054
Populating dataframe for fragment group 38200/43054
Populating dataframe for fragment group 38300/43054
Populating dataframe for fragment group 38400/43054

In [ ]:
df, vocab, ms1, ms2 = extractor.get_entry(0)

In [ ]:
display(df)

<h2>3. Analysis</h2>

<h3>a. Run LDA</h3>

Once the data has been loaded by performing either step 1(a) or 1(b), we're now ready to run LDA.

In [ ]:
ms2lda = Ms2Lda(df, vocab, ms1, ms2)

In [ ]:
### all the parameters you need to specify to run LDA ###

n_topics = 300 # 300 - 400 topics from cross-validation
n_samples = 10 # 100 is probably okay for testing. For manuscript, use > 500-1000.
n_burn = 0 # if 0 then we only use the last sample
n_thin = 1 # every n-th sample to use for averaging after burn-in. Ignored if n_burn = 0
alpha = 50.0/n_topics # hyper-parameter for document-topic distributions
beta = 0.1 # hyper-parameter for topic-word distributions

ms2lda.run_lda(n_topics, n_samples, n_burn, n_thin, alpha, beta)

In [ ]:
# leave the message parameter out if nothing to say
ms2lda.save_project('results/analysis.project', message="First try")

<hr/>

**resume project**

In [ ]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

import sys
basedir = '../'
sys.path.append(basedir)

from lda_for_fragments import Ms2Lda

In [ ]:
ms2lda = Ms2Lda.resume_from('results/analysis.project')

In [ ]:
ms2lda.do_thresholding(th_doc_topic=0.05, th_topic_word=0.01)

In [ ]:
ms2lda.print_topic_words()

In [ ]:
ms2lda.plot_lda_fragments(interactive=True)